
<%=render "shared/navbaramelioration" %>
				

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Blog</h2><span>Derniers articles</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="/">Accueil</a></li>
						<li>Blog</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">

	<!-- Blog Posts -->
	<div class="blog-page">
	<div class="row">
		<div class="col-lg-9 col-md-8 padding-right-30">

			<!-- Blog Post -->
			<div class="blog-post">
				
				<!-- Img -->
				<a href="pages-blog-post.html" class="post-img">
					<img src="http://www.lafermedesanes.com/images/anes/jorge.jpg" alt="">
				</a>
				
				<!-- Content -->
				<div class="post-content">
					<h3><a href="pages-blog-post.html">Faut-il faire le chemin avec un Âne ? </a></h3>

					<ul class="post-meta">
						<li>22 Août 2018</li>
						<li><a href="#">Astuces</a></li>
						<li><a href="#">5 Commentaires</a></li>
					</ul>

					<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.</p>

					<a href="pages-blog-post.html" class="read-more">Lire plus <i class="fa fa-angle-right"></i></a>
				</div>

			</div>
			<!-- Blog Post / End -->


			<!-- Blog Post -->
			<div class="blog-post">
				
				<!-- Img -->
				<a href="pages-blog-post.html" class="post-img">
					<img src="http://www.panoram-art.com/galerie/france/15504-france-Aveyron-Espalion-le-Pont-Vieux-sur-le-Lot-et-les-maisons-des-tanneurs-panorama-sentucq.h.jpg" alt="">
				</a>
				
				<!-- Content -->
				<div class="post-content">
					<h3><a href="pages-blog-post.html">Ces villages au charme indéniable</a></h3>

					<ul class="post-meta">
						<li>9 Novembre 2018</li>
						<li><a href="#">Astuces</a></li>
						<li><a href="#">7 Commentaires</a></li>
					</ul>

					<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.</p>

					<a href="pages-blog-post.html" class="read-more">Lire plus <i class="fa fa-angle-right"></i></a>
				</div>

			</div>
			<!-- Blog Post / End -->


			<!-- Blog Post -->
			<div class="blog-post">
				
				<!-- Img -->
				<a href="pages-pages-blog-post.html" class="post-img">
					<img src="http://mw2.google.com/mw-panoramio/photos/medium/92991440.jpg" alt="">
				</a>
				
				<!-- Content -->
				<div class="post-content">
					<h3><a href="pages-pages-blog-post.html">Nasbinals, un lieu chargé d'histoire</a></h3>

					<ul class="post-meta">
						<li>12 Novembre 2018</li>
						<li><a href="#">Astuces</a></li>
						<li><a href="#">12 Commentaires</a></li>
					</ul>

					<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.</p>

					<a href="pages-blog-post.html" class="read-more">Lire plus <i class="fa fa-angle-right"></i></a>
				</div>

			</div>
			<!-- Blog Post / End -->


			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-bottom-40">
						<nav class="pagination">
							<ul>
								<li><a href="#" class="current-page">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

		</div>

	<!-- Blog Posts / End -->


	<!-- Widgets -->
	<div class="col-lg-3 col-md-4">
		<div class="sidebar right">

			<!-- Widget -->
			<div class="widget">
				<h3 class="margin-top-0 margin-bottom-25">Rechercher dans le Blog</h3>
				<div class="search-blog-input">
					<div class="input"><input class="search-field" type="text" placeholder="Rechercher" value=""/></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- Widget / End -->


			<!-- Widget -->
			<div class="widget margin-top-40">
				<h3>Une question?</h3>
				<div class="info-box margin-bottom-10">
					<p>Vous avez une question ? N'hésitez pas à la poser !</p>
					<a href="pages-contact.html" class="button fullwidth margin-top-20"><i class="far fa-envelope"></i> Poser ma question</a>
				</div>
			</div>
			<!-- Widget / End -->


			<!-- Widget -->
			<div class="widget margin-top-40">

				<h3>Articles populaires</h3>
				<ul class="widget-tabs">

					<!-- Post #1 -->
					<li>
						<div class="widget-content">
								<div class="widget-thumb">
								<a href="pages-blog-post.html"><img src="http://www.lafermedesanes.com/images/anes/jorge.jpg" alt=""></a>
							</div>
							
							<div class="widget-text">
								<h5><a href="pages-blog-post.html">Faut-il faire le chemin avec un Âne ?</a></h5>
								<span>22 Août 2018</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</li>
					
					<!-- Post #2 -->
					<li>
						<div class="widget-content">
							<div class="widget-thumb">
								<a href="pages-blog-post.html"><img src="http://www.panoram-art.com/galerie/france/15504-france-Aveyron-Espalion-le-Pont-Vieux-sur-le-Lot-et-les-maisons-des-tanneurs-panorama-sentucq.h.jpg" alt=""></a>
							</div>
							
							<div class="widget-text">
								<h5><a href="pages-blog-post.html">Ces villages au charme indéniable</a></h5>
								<span>9 Novembre 2018<</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</li>
					
					<!-- Post #3 -->
					<li>
						<div class="widget-content">
							<div class="widget-thumb">
								<a href="pages-blog-post.html"><img src="http://mw2.google.com/mw-panoramio/photos/medium/92991440.jpg" alt=""></a>
							</div>
							
							<div class="widget-text">
								<h5><a href="pages-blog-post.html">Nasbinals, un lieu chargé d'histoire</a></h5>
								<span>12 Novembre 2018</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</li>

				</ul>

			</div>
			<!-- Widget / End-->

			<div class="clearfix"></div>
			<div class="margin-bottom-40"></div>
		</div>
	</div>
</div>
<!-- Sidebar / End -->


</div>
</div>


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


</div>
<!-- Wrapper / End -->



<!-- Scripts
================================================== -->
<script type="text/javascript" src="scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="scripts/mmenu.min.js"></script>
<script type="text/javascript" src="scripts/chosen.min.js"></script>
<script type="text/javascript" src="scripts/slick.min.js"></script>
<script type="text/javascript" src="scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="scripts/waypoints.min.js"></script>
<script type="text/javascript" src="scripts/counterup.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="scripts/tooltips.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
<!-- Scripts / End -->

<%=render "shared/footer" %>