<!-- Info Section -->
<div class="container">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="headline centered margin-top-80">Trouvez un logement chaleureux</h2>
		</div>
	</div>

	<div class="row icons-container">

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">				
				<i class="fas fa-home"></i>			
				<h3>Cherchez l'Auberge qui vous convient</h3>
				<p>Parmi près de 70 Auberges sur l'ensemble du chemin de Saint-Jacques-de-Compostelle.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="fas fa-bed"></i>
				<h3>Choisissez "Chambre individuelle" ou "Dortoir"</h3>
				<p>Une Chambre individuelle pour ceux qui veulent du confort et de l'intimité. Un Dortoir pour ceux qui veulent de l'authenticité et de la convivialité</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="fas fa-calendar-check"></i>
				<h3>Réservez en quelques clics seulement !</h3>
				<p>Ne perdez plus votre temps et votre énergie à essayer de joindre les hôtes par téléphone. Avec DodoRando vous réservez en quelques clics seulement !</p>
			</div>
		</div>

	</div>

</div>
<!-- Info Section / End -->