<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-45">
					Les villes les plus appréciées par les voyageurs
				</h3>
			</div>

			<div class="col-md-12">
				<div class="simple-slick-carousel dots-nav">

					<!-- Listing Item -->
					<div class="carousel-item">
						<a href="listings-single-page.html" class="listing-item-container">
							<div class="listing-item">
								<img src="https://www.detoursenfrance.fr/sites/art-de-vivre/files/det_conques-abbaye-istock-web.jpg" alt="">
								<div class="listing-item-content">
									<span class="tag">Ville</span>
									<h3>Conques</h3>
								</div>
								<span class="like-icon"></span>
							</div>						
						</a>
					</div>
					<!-- Listing Item / End -->

					<!-- Listing Item -->
					<div class="carousel-item">
						<a href="listings-single-page.html" class="listing-item-container">
							<div class="listing-item">
								<img src="http://www.panoram-art.com/galerie/france/15504-france-Aveyron-Espalion-le-Pont-Vieux-sur-le-Lot-et-les-maisons-des-tanneurs-panorama-sentucq.h.jpg" alt="">
								<div class="listing-item-content">
									<span class="tag">Ville</span>
									<h3>Espalion</h3>
								</div>
								<span class="like-icon"></span>
							</div>						
						</a>
					</div>
					<!-- Listing Item / End -->

					<!-- Listing Item -->
					<div class="carousel-item">
						<a href="listings-single-page.html" class="listing-item-container">
							<div class="listing-item">
								<img src="https://img1.pleinevie.fr/var/pleinevie/storage/images/article/l-aveyron-un-lieu-fige-dans-le-temps-13930/83055-1-fre-FR/L-Aveyron-un-lieu-fige-dans-le-temps_exact1024x768_l.jpg" alt="">
								<div class="listing-item-content">
									<span class="tag">Ville</span>
									<h3>Estaing</h3>
								</div>
								<span class="like-icon"></span>
							</div>						
						</a>
					</div>
					<!-- Listing Item / End -->

					<!-- Listing Item -->
					<div class="carousel-item">
						<a href="listings-single-page.html" class="listing-item-container">
							<div class="listing-item">
								<img src="http://mw2.google.com/mw-panoramio/photos/medium/92991440.jpg" alt="">
								<div class="listing-item-content">
									<span class="tag">Ville</span>
									<h3>Nasbinals</h3>
								</div>
								<span class="like-icon"></span>
							</div>						
						</a>
					</div>
					<!-- Listing Item / End -->

				</div>
			</div>
		</div>
	</div>

</section>
<!-- Fullwidth Section / End -->